/* MINIMAL CSS RESET */
/* (Modified from https://www.digitalocean.com/community/tutorials/css-minimal-css-reset) */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* VARIABLE DECLARATIONS */
:root {
  /* Color Variables */
  --blue-1: hsl(216, 79%, 53%);
  --blue-2: hsl(216, 79%, 55%);
  --blue-3: hsl(216, 79%, 60%);
  
  --green-1: hsl(130, 77%, 40%);
  --green-2: hsl(130, 77%, 42%);
  --green-3: hsl(130, 77%, 47%);
  
  --red-1: hsl(0, 100%, 65%);
  --red-2: hsl(0, 100%, 67%);
  --red-3: hsl(0, 100%, 72%);

  --white: hsl(0, 0%, 100%);

  --gray: hsl(0, 0%, 65%);

  --light-shadow-1: hsla(216, 0%, 15%, 0.4);
  --light-shadow-2: hsla(216, 0%, 15%, 0.2);

  /* Functional Variables */
  --btn-text: var(--white);
  --btn-bg: var(--blue-1);
  --btn-bg-hover: var(--blue-2);
  --btn-bg-active: var(--blue-3);
  --btn-shadow: var(--light-shadow-2);
  --btn-shadow-hover: var(--light-shadow-1);
  
  --btn-success-bg: var(--green-1);
  --btn-success-bg-hover: var(--green-2);
  --btn-success-bg-active: var(--green-3);

  --btn-danger-bg: var(--red-1);
  --btn-danger-bg-hover: var(--red-2);
  --btn-danger-bg-active: var(--red-3);

  --btn-close-bg: var(--gray);
  --btn-close-text: var(--white);

  --form-field-outline: var(--gray);
  --form-field-outline-focus: var(--blue-3);

  --modal-shadow: var(--light-shadow-1);
}

/* Default Button Styling */
.button {
  background-color: var(--btn-bg);
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 3px var(--btn-shadow);
  color: var(--white);
  font-weight: bold;
  padding: 8px 16px;
  transition: box-shadow, background-color, 100ms;
}

.button:hover {
  background-color: var(--btn-bg-hover);
  box-shadow: 2px 2px 4px var(--btn-shadow-hover);
  cursor: pointer;
}

.button:active {
  background-color: var(--btn-bg-active);
}

/* Confirm Button Styling */
.button--confirm {
  background-color: var(--btn-success-bg);
}

.button--confirm:hover {
  background-color: var(--btn-success-bg-hover);
}

.button--confirm:active {
  background-color: var(--btn-success-bg-active);
}

/* Danger Button Styling */
.button--danger {
  background-color: var(--btn-danger-bg);
  border-radius: 0px;
}

.button--danger:hover {
  background-color: var(--btn-danger-bg-hover);
}

.button--danger:active {
  background-color: var(--btn-danger-bg-active);
}

/* Close Button */
.close-btn {
  background-color: var(--btn-close-bg);
  border: none;
  border-radius: 12px;
  color: var(--btn-close-text);
  height: 24px;
  width: 24px;
}

.close-btn:hover {
  cursor: pointer;
}

/* Form Field */
.form-field {
  display: grid;
  gap: 2px;
}

.form-field__input {
  border: none;
  border-radius: 0px;
  outline: 1px solid var(--form-field-outline);
  padding: 4px 8px;
}

.form-field__input:focus {
  outline: 2px solid var(--form-field-outline-focus);
}

.form-field__label {
  font-size: 0.8rem;
  font-weight: bold;
}

/* Form Field: Checkbox Variant */
.form-field--checkbox {
  display: flex;
  gap: 4px;
}

.form-field--checkbox .form-field__input {
  outline: 0px;
}

.form-field--checkbox .form-field__input:focus {
  outline: 2px solid var(--form-field-outline-focus);
}

/* Modal Layout */
.form-modal {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 5px var(--modal-shadow);
  padding: 8px;
}

.form-modal__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.form-modal__close-btn {
  align-self: flex-end;
}